<% include ./partials/header.ejs%>

<%=console.log(campground);%>
<h1><%=campground[0].name%></h1>
<img src="<%=campground[0].image%>" alt="picture">
<p><%=campground[0].description%></p>
<%campground[0].comments.forEach(function(comment) {%>
  <p><strong><%=comment.author%></strong> - <%=comment.text%></p>
<%});%>

<%include ./partials/footer.ejs%>